body {
  padding: 20px 50px 50px 50px;
}

div.gallerycontainer {
    width: 50%;
    height: auto;
    align-content: center;
    margin: auto;
    
}

div.gallerycontainer img{
    width: 100%;
    height: auto;
    margin:auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.full {
    float: left;
    width: 100%;
}

div.teen {
    float: left;
    text-align: right;
    width: 50%;
    background-color: #060d13; 
}

div.talk{
    float: right;
    text-align: left;
    width: 50%;
    background-color: #cc0000;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding-top: 70px;
    padding-left: 30px;
    font-size: 120%;
    font-family: Open Sans Light;
    color: black;
    text-decoration: none;
}

li a:visited {
    color: black;
    text-decoration: none;
}

li a:hover {
    color: dimgray;
    text-decoration: none;
}

div.columnhome1 {
    padding: 5px;
    float: left;
    width: 64%;
}

div.events {
    border-style: solid;
    border-width: 0.25px;
    border-color: #a6a6a6;
}

div.events:hover {
    border-style: solid;
    border-width: 0.25px;
    border-color: #000000;
}

div.columnhome2 {
    padding: 5px;
    float: left;
    width: 100%;
}

div.columnhome3 {
    padding: 2px;
    float: right;
    width: 34%;
    
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 60%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: Open Sans Light;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: Open Sans Light;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@font-face {font-family:"After Night";src:url("fonts/After_Night.eot?") format("eot"),url("fonts/After_Night.woff") format("woff"),url("fonts/After_Night.ttf") format("truetype"),url("fonts/After_Night.svg#AfterNight") format("svg");font-weight:normal;font-style:normal;}

@font-face {font-family:"Code-Light";src:url("fonts/CODE_Light.eot?") format("eot"),url("fonts/CODE_Light.woff") format("woff"),url("fonts/CODE_Light.ttf") format("truetype"),url("fonts/CODE_Light.svg#Code-Light") format("svg");font-weight:normal;font-style:normal;}

@font-face {font-family:"Open Sans Light";src:url("fonts/OpenSans-Light.eot?") format("eot"),url("fonts/OpenSans-Light.woff") format("woff"),url("fonts/OpenSans-Light.ttf") format("truetype"),url("fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");font-weight:normal;font-style:normal;}

@font-face {font-family:"Decker";src:url("fonts/Decker.eot?") format("eot"),url("fonts/Decker.woff") format("woff"),url("fonts/Decker.ttf") format("truetype"),url("fonts/Decker.svg#") format("svg");font-weight:normal;font-style:normal;}

@font-face {font-family:"Cabin Sketch Regular";src:url("fonts/CabinSketch-Regular.eot?") format("eot"),url("fonts/CabinSketch-Regular.woff") format("woff"),url("fonts/CabinSketch-Regular.ttf") format("truetype"),url("fonts/CabinSketch-Regular.svg#CabinSketch-Regular") format("svg");font-weight:normal;font-style:normal;}
