body {
  padding: 20px 50px 50px 50px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.full {
    float: left;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

div.teen {
    float: left;
    text-align: right;
    width: 50%;
    background-color: #060d13; 
}

div.talk{
    float: right;
    text-align: left;
    width: 50%;
    background-color: #cc0000;
}

div.navbar {
    text-align: center;
    background-color: #0d1a26;
    width: 100%;  
}

div.navbuttons {
    float: left;
    text-align: center;
    width: 20%;
    color: #ffffff;
    background-color: #0d1a26;
}

div.navbuttons:hover {
    background-color: #336699;
}

.fonted {
    font-family: Open Sans Light;
}

a.navbar:link {
    color: white;
    text-decoration: none;
}

a.navbar:visited {
    color: white;
    text-decoration: none;
}

a.navbar:hover {
    color: white;
    text-decoration: none;
}

a.navbar:active {
    color: white;
    text-decoration: none;
}

@font-face {font-family:"After Night";src:url("fonts/After_Night.eot?") format("eot"),url("fonts/After_Night.woff") format("woff"),url("fonts/After_Night.ttf") format("truetype"),url("fonts/After_Night.svg#AfterNight") format("svg");font-weight:normal;font-style:normal;}

@font-face {font-family:"Code-Light";src:url("fonts/CODE_Light.eot?") format("eot"),url("fonts/CODE_Light.woff") format("woff"),url("fonts/CODE_Light.ttf") format("truetype"),url("fonts/CODE_Light.svg#Code-Light") format("svg");font-weight:normal;font-style:normal;}

@font-face {font-family:"Open Sans Light";src:url("fonts/OpenSans-Light.eot?") format("eot"),url("fonts/OpenSans-Light.woff") format("woff"),url("fonts/OpenSans-Light.ttf") format("truetype"),url("fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");font-weight:normal;font-style:normal;}
